body {
    margin: 0;
    background-color: #333;
    font-family: "Courier New", serif;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 2;
    height: 40px;
}
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.about {
    padding: 20px 150px;
    color: white;
    display: flex;
    background-color: #333;
    align-items: center;
    height: 400px;
}

.grid-item a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

.grid-item a:hover {
    color: inherit;
}

.navbar-left a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.navbar-left h1 {
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    line-height: 40px;
    margin: 0 0 0 30px;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-right a {
    font-weight: bold;
    font-size: 20px;
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-right a:hover {
    color: white;
}

.navbar-right a.active {
    background-color: #04AA6D;
    color: white;
}

#fotoKubota {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #333333),
    url("../Image/kubota2311.jpg") center fixed;
    background-size: cover;
}

.bannerText {
    text-align: center;
    color: ghostwhite;
    padding-top: 180px;
}

.bannerText h1 {
    margin-top: 200px;
    font-size: 130px;
    margin-bottom: 10px;
}

.bannerText p {
    font-size: 20px;
    font-style: italic;
}

.aboutLeft {
    text-align: center;
    width: 33.333%;
}

.aboutRight {
    text-align: justify;
    margin-left: 50px;
    font-size: 25px;
    width: 66.6666%;
}

.aboutLeft h1 {
    font-size: 70px;
}

.dienstenTitel {
    text-align: center;
    color: white;
}
.dienstenGrid {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    z-index: 1;
}
.grid-item {
    position: relative;
    margin: 10px auto; /* Updated to center the grid items */
    cursor: pointer;
    overflow: hidden;
}
.grow {
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover .grow {
    transform: scale(1.05);
}

.grid-item {
    color: white;
    background-color: #333;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.grid-item img {
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.contact {
    margin-top: 200px;
    height: 300px;
    text-align: center;
    color: white;
}

.contact p {
    font-size: 20px;
}

.contact h1 {
    font-size: 40px;
}

.grow img {
    transition: 1s ease;
}

.grow img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}
@media only screen and (min-width: 1050px) and (max-width: 1400px) {
    .bannerText h1{
        font-size: 80px;;
    }
    .bannerText p {
        font-size: 30px;
    }
    .navbar-left h1 {
        font-size: 25px;
        line-height: 35px;
        margin: 0 0 0 15px;
    }

    .navbar-right {
        margin-right: 15px;
    }

    .navbar-right a {
        font-size: 25px;
        padding: 12px 14px;
    }

    .about {
        padding: 20px;
    }

    .aboutLeft h1 {
        font-size: 30px;
    }

    .aboutRight {
        margin-left: 0;
        font-size: 16px;
    }
    .dienstenGrid {
        grid-template-columns: 1fr 1fr; /* items staan naast elkaar, maar er zijn minder kolommen */
    }
}
@media only screen and (max-width: 1050px) {
    .navbar-left h1 {
        font-size: 16px;
        line-height: 30px;
        margin: 0 0 0 10px;
    }

    .navbar-right {
        margin-right: 5px;
    }

    .navbar-right a {
        font-size: 14px;
        padding: 10px 12px;
    }

    .bannerText h1 {
        font-size: 40px;
    }

    .bannerText p {
        font-size: 14px;
    }

    .about {
        padding: 20px;
    }

    .aboutLeft h1 {
        font-size: 30px;
    }

    .aboutRight {
        margin-left: 0;
        font-size: 16px;
    }

    .dienstenGrid {
        padding: 0 10px;
        grid-template-columns: 1fr; /* Items nemen de volledige breedte in */
    }

    .contact {
        margin-top: 200px;
    }

    .contact h1 {
        font-size: 24px;
    }

    .contact p {
        font-size: 14px;
    }


    .grid-item img {
        width: 100%;
        height: auto;
    }
}
